<div class="bg-cover bg-no-repeat bg-center bg-black text-white h-[450px] sm:h-[500px] lg:h-[800px]">
  <div class="wrapper w-full h-full">
    <div class="w-full h-full flex flex-col justify-center lg:justify-end items-start pb-0 lg:pb-[200px]">
      <h1 class="leading-none uppercase font-black text-[25px] lg:text-[60px] max-w-[247px] lg:max-w-[857px] mb-4 lg:mb-6">
        ¿Necesitas
        <strong class="text-[#FF4100]">repuestos o accesorios</strong>
        para tu vehículo?
      </h1>
      <p class="text-xs lg:text-[24px] max-w-[264px] lg:max-w-[665px] leading-[1.2] mb-4 lg:mb-6">
        Puedes revisar nuestro stock de bodega o los vehículos que tenemos en desarme para cotizar.
      </p>
      <div class="flex gap-x-2">
        <a href="{% if section.settings.link != blank %}{{ section.settings.link }}{% else %}#{%  endif %}" class="btn-primary text-sm lg:text-[20px]">
          {{ section.settings.link_text | escape }}
        </a>
        <a href="{% if section.settings.link_cotizar != blank %}{{ section.settings.link_cotizar }}{% else %}#{%  endif %}" class="btn-transparent text-sm lg:hidden lg:text-[20px]">
          Cotizar Aquí
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Home",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen para el hero"
      }, {
        "type": "text",
        "id": "link_text",
        "label": "Texto para el link",
        "default": "Buscar Repuestos"
      }, {
        "type": "url",
        "id": "link",
        "label": "Selecciona la ruta para el boton"
      }, {
        "type": "url",
        "id": "link_cotizar",
        "label": "Selecciona una ruta para la cotización"
      }
    ],
    "presets": [
      {
        "name": "Hero Home",
        "category": "Home"
      }
    ]
  }
{% endschema %}