<div class="text-white bg-[#FF4100] relative mark block w-full py-4">
  <div class="wrapper flex items-center justify-center">
    <h2 class="text-center text-[18px] lg:text-[30px] font-black uppercase">Encuentra todas las marcas | 100% originales</h2>
  </div>
</div>
<div>
  <div class="wrapper">
    <marcas-carousel>
      <div class="marcas-carousel marcas-carousel-{{ section.id }} overflow-hidden relative my-8">
        <ul class="swiper-wrapper flex items-center">
          {% for block in section.blocks %}
            <li class="swiper-slide flex items-center justify-center" aria-label="{{ block.settings.marca | escape }}">
              <span class="sr-only">{{ block.settings.marca | escape }}</span>
              {{ block.settings.icon }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </marcas-carousel>
  </div>
</div>

<style>
  .mark::before {
    position: absolute;
    content: '';
    top: 100%;
    left: calc(50% - 10px);
    border-top: 20px solid #FF4100;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
</style>

{% schema %}
  {
    "name": "Marcas",
    "tag": "section",
    "blocks": [
      {
        "type": "marca",
        "name": "marca",
        "settings": [
          {
            "type": "liquid",
            "id": "icon",
            "label": "Ingresa el código para renderizar el icono."
          }, {
            "type": "url",
            "id": "link",
            "label": "Ingresa el link para llevar a la coleccion de la marca."
          }, {
            "type": "text",
            "id": "marca",
            "label": "Ingresa el nombre de la marca"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Marcas",
        "category": "slide"
      }
    ]
  }
{% endschema %}